html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
}
//pagination
.black-pagination{
  .page-link{
    color: black;
  }
  .page-item.active {
    .page-link{
      background-color: #343a40;
      border-color: #343a40;
    }
  }
  .page-item{
    .page-link:focus{
      box-shadow: none;
    }
  }
}
.image-miniature{
  width: 150px;
  height: 100px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 10px;
  object-fit: cover;
}